<form
  [formGroup]="customerDetailForm"
  (ngSubmit)="onSubmit(customerDetailForm.value)"
>
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="company"> Company </label>
    <input id="company" type="text" formControlName="company" />
  </div>

  <div>
    <label for="address1"> Address1 </label>
    <input id="address1" type="text" formControlName="address1" />
  </div>

  <div>
    <label for="address2"> Address2 </label>
    <input id="address2" type="text" formControlName="address2" />
  </div>

  <div>
    <label for="state"> State </label>
    <input id="state" type="text" formControlName="state" />
  </div>

  <div>
    <label for="country"> Country </label>
    <input id="country" type="text" formControlName="country" />
  </div>

  <div>
    <label for="email"> Email </label>
    <input id="email" type="text" formControlName="email" />
  </div>

  <div>
    <label for="telNo"> Telephone No </label>
    <input id="telNo" type="text" formControlName="telNo" />
  </div>

  <button class="button" type="submit">Customer Detail</button>
</form>

<mat-form-field floatLabel="auto" appearance="standard" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required />
  <mat-hint>Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" appearance="standard">
  <mat-label>Name</mat-label>
  <input matInput required />
  <mat-hint>Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required />
  <mat-hint>Min 5 characters</mat-hint>
</mat-form-field>
